@media screen and (min-width : 320px) {
    @font-face {
        font-family: 'Montserrat';
        src: local('Montserrat') url(/fonts/montserrat/Montserrat-Regular.woff2) format('woff2');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: 'Montserrat';
        src: local('Montserrat') url(/fonts/montserrat/Montserrat-SemiBold.woff2) format('woff2');
        font-weight: 600;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: 'Josephin Sans';
        src: local('Josefin Sans') url(/fonts/josephin-sans/JosefinSans.woff2) format('woff2');
        font-weight: 600;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: 'Josefin Sans';
        src: local('Josefin Sans') url(/fonts/josefin-sans/JosefinSans.woff2) format('woff2');
        font-weight: 700;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: 'Josefin Sans';
        src: local('Josefin Sans') url(/fonts/josefin-sans/JosefinSans.woff2) format('woff2');
        font-weight: 500;
        font-display: swap;
        font-style: normal;
        
    }
    div{
        font-family: 'Montserrat', sans-serif;
    }
    h1{
        font-family: 'Josefin Sans', sans-serif;
    }
    .logo{
        width: 80px;
        height: 70px;
        background: url(../img/png/logo\ 2.png);
    }
    .body{
        background: linear-gradient(180deg, #10362B 0%, #76CB3C 100%);
        width: 100%;
        height: 548px;
    }
    .window{
        width: 310px;
        height: 446px;
        flex-shrink: 0;
        border-radius: 30px;
        background: #264710;
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        margin-right: 5px;
    }
    .title{
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 31px;
        margin-left: 80px;
        margin-bottom: 0px;
    }
    .place-to-input__container{
        display: flex;
        flex-direction: column;
        margin-top: 23px;
        margin-left: 37px;
        gap: 20px;
    }
    .place-to-input{
        width: 237px;
        height: 60px;
        flex-shrink: 0;
        border-radius: 52px;
        background: rgba(0, 0, 0, 0.50);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #858585;
    }
    .submit-buttom{
        width: 139px;
        height: 58px;
        flex-shrink: 0;
        border-radius: 60px;
        background: #000;
        color: #FFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 43px;
        margin-left: 86px;
    }
    .return-password{
        color: #909090;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 7px;
        margin-left: 90px;
    }
    .register{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #FFF;
        text-decoration: none;
        margin-top: 48px;
        margin-left: 84px;
    }
}